/.vs
/obj
/logs
/.idea
/Properties
/bin
/AdvanceAPI.csproj.user
/AdvanceAPI.sln.DotSettings.user
/bin/Debug/net9.0/Serilog.Sinks.File.dll
/bin/Debug/net9.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/bin/Debug/net9.0/System.Configuration.ConfigurationManager.dll
/bin/Debug/net9.0/System.IdentityModel.Tokens.Jwt.dll
/bin/Debug/net9.0/System.Security.Cryptography.ProtectedData.dll
/bin/Debug/net9.0/System.Security.Permissions.dll
/bin/Debug/net9.0/System.Windows.Extensions.dll
/bin/Debug/net9.0/ZstdSharp.dll
/bin/Debug/net9.0/MySql.Data.dll
/bin/Debug/net9.0/Serilog.AspNetCore.dll
/bin/Debug/net9.0/Serilog.dll
/bin/Debug/net9.0/Serilog.Extensions.Hosting.dll
/bin/Debug/net9.0/Serilog.Extensions.Logging.dll
/bin/Debug/net9.0/Serilog.Formatting.Compact.dll
/bin/Debug/net9.0/Serilog.Settings.Configuration.dll
/bin/Debug/net9.0/Serilog.Sinks.Console.dll
/bin/Debug/net9.0/Serilog.Sinks.Debug.dll
/bin/Debug/net9.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/bin/Debug/net9.0/Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer.dll
/bin/Debug/net9.0/Microsoft.AspNetCore.Mvc.Versioning.dll
/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.dll
/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
/bin/Debug/net9.0/Microsoft.OpenApi.dll
/bin/Debug/net9.0/AdvanceAPI.deps.json
/bin/Debug/net9.0/AdvanceAPI.dll
/bin/Debug/net9.0/AdvanceAPI.exe
/bin/Debug/net9.0/AdvanceAPI.pdb
/bin/Debug/net9.0/AdvanceAPI.runtimeconfig.json
/bin/Debug/net9.0/AdvanceAPI.staticwebassets.endpoints.json
/bin/Debug/net9.0/appsettings.Development.json
/bin/Debug/net9.0/appsettings.json
/bin/Debug/net9.0/BouncyCastle.Cryptography.dll
/bin/Debug/net9.0/Google.Protobuf.dll
/bin/Debug/net9.0/K4os.Compression.LZ4.dll
/bin/Debug/net9.0/K4os.Compression.LZ4.Streams.dll
/bin/Debug/net9.0/K4os.Hash.xxHash.dll
/bin/Debug/net9.0/runtimes
